<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Blog - My Blog</h1><br> 
<div>
    <form method="get" action="https://hansyao.github.io/">
        <button type="submit">Full View</button>
    </form>
</div>
<div class="col-md-12">


    <div class="row">

        <!-- Page Blog -->
        <div class="content">
		
            <div style= "overflow: hidden; border: 0px">
                <div style="width: 693px; height: 1300px; margin: -430px 0 0 -10px;">
                    <iframe id="iframeContent"
                        width="680" height="1300" scrolling="yes" src="https://hansyao.github.io/">
                    </iframe>
                </div>
            </div>
        </div>
        <!-- End .blog -->

    </div>	
</div>

