<!-- .blog -->
<div id="blog" class="content_2">
    <h1 class="h-bloc">Blog - My Blog</h1><br> 

    <div class="iframe-container">

        <!-- <div style="width: 693px; height: 1300px; margin: 0 0 0 0 0;">
            <iframe id="iframeContent"
                width="680" height="1300" scrolling="yes" src="https://hansyao.github.io/">
            </iframe>
        </div> -->
 
        <div class="iframe-container" >
            <iframe id="iframeContent" src="https://hansyao.github.io/" >
            </iframe>
        </div>       

    </div>
</div>
<!-- End .blog -->