<!-- .blog -->
<div id="blog" class="content_2">
    <h1 class="h-bloc" >Blog - My Blog</h1><br> 
    <div id="profile_social">
        <a href="{{site.myblog}}"><i class="fa fa-myblog"></i></a>
        <div class="clear"></div>
    </div>

        <!-- <div style="width: 693px; height: 1300px; margin: 0 0 0 0 0;">
            <iframe id="iframeContent"
                width="680" height="1300" scrolling="yes" src="https://hansyao.github.io/">
            </iframe>
        </div> -->
       
        <div class="iframe-container">
            <iframe id="iframeContent" scrolling="yes" src="https://hansyao.github.io/" >
            </iframe>
        </div>       

</div>
<!-- End .blog -->