<!-- .contact -->
<div id="contact" class="content_2">

    <h1 class="h-bloc">Contact - Contact Me</h1>


    <div class="row top-p">

        <div class="col-lg-12">
            <div id="map"></div>
        </div>

        <div class="col-lg-12">
            <div class="row" id="title_content">
                <div class="col-md-5">
                    <div class="contact-info">
                        <!-- <h3 class="main-heading"><span>Contact info</span></h3> -->

                        <div class="title_content" style="float: none;">
                            <div class="text_content">Contact info</div>
                            <div class="clear"></div>
                        </div>

                        <ul class="about">

                            <li>
                                <label class="span-info glyphicon glyphicon-map-marker">Address:</label>
                                <span class="value">
                                    {{ site.address }}
                                </span>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <label class="span-info glyphicon glyphicon-envelope">Email:</label>
                                <span class="value">
                                    {{ site.email }}
                                </span>
                                <div class="clear"></div>
                            </li>

                            <li><label class="span-info glyphicon glyphicon-phone">Phone:</label>
                                <span class="value">
                                    {{ site.phone }}
                                </span>
                                <div class="clear"></div>
                            </li>

                            <li>
                                <label class="span-info glyphicon glyphicon-globe">Website:</label>
                                <a href="{{site.url$baseurl}}">
                                    <span class="line">
                                        {{ site.url }}{{ site.baseurl }}
                                    </span>
                                </a>
                                <div class="clear"></div>
                            </li>

                            <li><span class="span-info glyphicon glyphicon-comment">Skype:</span>

                                <span class="value">
                                    {{ site.skype }}
                                </span>
                                <div class="clear"></div>
                            </li>
                            <li><span class="span-info glyphicon glyphicon-thumbs-up">G.Drive:</span>

                                <span class="value">
                                    {{ site.gdrive }}
                                </span>
                                <div class="clear"></div>
                            </li>
                            <li><span class="span-info glyphicon glyphicon-unchecked">Skydrive:</span>

                                <span class="value">
                                    {{ site.skydrive }}
                                </span>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <!-- /Contact Info -->
                    <div class="clear"></div>

                    <!--<h3 class="main-heading" style="margin-left: 22px;"><span>Follow me</span></h3>-->

                    <div class="title_content tiltle_contacts" style="float: none;">
                        <div class="text_content">Follow me</div>
                        <div class="clear"></div>
                    </div>



                    <div id="profile_social">
                        <a href={{site.facebook}}><i class="fa fa-facebook"></i></a>
                        <a href={{site.twitter}}><i class="fa fa-twitter"></i></a>
                        <a href={{site.linkedin}}><i class="fa fa-linkedin"></i></a>
                        <!-- <a href={{site.foursquare}}><i class="fa fa-foursquare"></i></a> -->
                        <a href={{site.myblog}}><i class="fa fa fa-myblog"></i></a>
                        <div class="clear"></div>
                    </div>

                </div>

                <div class="col-md-7">
                    <!-- Contact Form -->
                    <div class="title_content" style="float: none;">
                        <div class="text_content">Let's keep in touch</div>
                        <div class="clear"></div>
                    </div>
                    <div class="contact-form">
                        <!--<h3 class="main-heading"><span>Let's keep in touch</span></h3>-->
                        <div id="contact-status"></div>
                        <form id=contactform class="gform pure-form pure-form-stacked"  method="POST" data-email="hansyow@gmail.com"
                            data-cfasync="false"
                            action="https://v1.oneplus-solution.com/e243ffdf0f751ce1a983/macros/s/AKfycbzEWUMIp7dxXScbNeP3nuqmrwja_7tVDctVkCmB/exec">
                            <!-- change the form action to your script url -->
                            <div class="form-elements">
                                <p class="form-group" id="contact-name">

                                    <label for="name" class=span-info><i class="glyphicon glyphicon-user"></i> Your
                                        Name</label>

                                    <input type="text" name="name" class="form-control name-contact" id="name"
                                        placeholder="Name..." />
                                </p>
                                <p class="form-group" id="contact-email">

                                    <label for="email" class=span-info><i class="glyphicon glyphicon-envelope"></i>Your
                                        Email</label>

                                    <input type="email" name="email" class="form-control email-contact" id="email"
                                        value="" required placeholder="your.name@email.com" />
                                </p>
                                <p class="form-group" id="contact-message">

                                    <label for="message" class=span-info><i class="glyphicon glyphicon-comment"></i>
                                        Your
                                        Message</label>

                                    <textarea name="message" cols="88" rows="8" class="form-control message-contact"
                                        id="message" placeholder="Message..."></textarea>
                                </p>
                                <p class="hidden">
                                    <label for="honeypot">To help avoid spam, utilize a Honeypot technique with a hidden
                                        text field; must be empty to submit the form! Otherwise, we assume the user is a
                                        spam bot.</label>
                                    <input id="honeypot" type="text" name="honeypot" class="form-control" value="" />
                                </p>
                                <button type="reset"
                                    class="ladda-button submit glyphicon glyphicon-remove reset">&nbsp;CLEAR</button>
                                <!-- <button type="submit" value="submit" class="ladda-button submit send_email" data-color="green" data-style="expand-left">
                                    SEND MESSAGE</button> -->

                                <!-- <input type="submit" name="submit" value="SEND MESSAGE" class="submit"> -->

                                <!-- <section class="button-demo" style="display: inline-block;">
                                    <button class="ladda-button submit send_email" data-color="green"
                                        data-style="expand-left">SEND MESSAGE</button>
                                </section> -->
                                <section class="button-demo" style="display: inline-block;">
                                    <button class="glyphicon glyphicon-envelope ladda-button submit send_email" data-color="green" data-style="expand-left">&nbsp;Send</button>
                                </section>
                                
                            </div>
                            <!-- Customise the Thankyou Message People See when they submit the form: -->
                            <div class="thankyou_message" style="display:none;">
                                <p><em>Thanks</em> for contacting me!
                                    I will get back to you soon!</p>
                            </div>
                        </form>

                    </div>
                    <!-- /Contact Form -->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End .contact -->